<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Welcome to Home Page</h1>
  <p>This is my first static website.</p>

  <a href="about.html">About</a>
  <a href="contact.html">Contact</a>
</body>
</html>